body {
    background: $color-white;
    color: $color-default;
    font: #{$default-size}/#{$line-height} $default-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: $line-height;
    margin: 0 0 $gutter * 0.5;
}

h1 {
    font-size: 32px;
    margin-bottom: $gutter;
    text-align: center;
}

h2 {
    font-size: 24px;
}

p {
    margin: 0 0 $gutter;
}

.desc {
    font-size: 14px;
    line-height: 1.5;
    > *:last-child {
        margin-bottom: 0;
    }
}
