body {
    background: $color-white;
    color: $color-default;
    font: #{$default-size}/#{$line-height} $default-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: $line-height;
    margin: 0;
    &:not(:last-child) {
        margin-bottom: $padding;
    }
}

h1 {
    margin-bottom: 0 !important;
    text-align: center;
}
