.dropdown {
    position: relative;
    button {
        background-color: $color-white;
        border: 2px solid $color-gray;
        border-radius: 30px;
        color: var(--accent-color);
        cursor: pointer;
        font: #{$default-size}/#{$line-height} $default-font;
        padding: 0.5rem 1rem;
        position: relative;
        width: 100%;
        &:after {
            content: '>';
            display: inline-block;
            margin-left: 1rem;
            transform: rotate(90deg);
        }
        &.active,
        &:hover {
            background-color: var(--accent-color);
            border-color: var(--accent-color);
            color: $color-white;
        }
    }

    &-options {
        background-color: $color-white;
        border: 2px solid var(--accent-color);
        border-top: 0;
        border-radius: 0 0 3px 3px;
        left: 50%;
        margin: 0 auto;
        position: absolute;
        transform: translateX(-50%);
        width: 87.5%;
        z-index: 1;
        &-item {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            line-height: 1.15;
            padding: 1rem;
            &.active {
                background-color: var(--accent-color);
                color: $color-white;
            }
            &:hover {
                background-color: $color-gray;
            }
        }
    }
}
