input,
select,
textarea {
    font: #{$default-size}/#{$line-height} $default-font;
    outline: none;
    &:focus {
        box-shadow: 0 0 0 3px var(--focus-color);
    }
}

label {
    cursor: pointer;
    display: block;
    font-weight: 700;
    margin-bottom: 0.25rem;
}
input {
    border: 2px solid $color-gray;
    border-radius: 30px;
    color: $color-default;

    padding: 0.25rem 1rem;
    width: 100%;
}
input[type='checkbox'],
input[type='radio'] {
    height: auto;
    width: auto;
}
input[type='radio'] + label {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-left: 1rem;
    + input[type='radio'] {
        margin-left: 1rem;
    }
}

.form-control {
    &:not(:last-child) {
        margin-bottom: $gutter;
    }
}

@import 'toggle-switch';
