/**
 * Colors
 */
$color-white: #ffffff;
$color-catskill-white: #f5f7fa;
$color-gray: #e6e9ed;
$color-black: #000000;
$color-pink: #ec87c0;
$color-mantis: #8cc152;
$color-blue: #4fc1e9;

:root {
    --accent-color: #{$color-pink};
    --focus-color: hsla(326, 43%, 69%, 40%);
}

:root .male {
    --accent-color: #{$color-blue};
    --focus-color: hsla(196, 66%, 72%, 40%);
}

/**
 * Generalized Palette
 */
$color-default: $color-black;

/**
 * Components
 */
$gutter: 30px;

// FONTS

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400&family=Raleway:ital,wght@0,400;0,600&display=swap');

// VARIABLES

$alt-font: Lato, arial, helvetica, sans-serif;
$default-font: Raleway, arial, helvetica, sans-serif;
$default-size: 16px;
$line-height: 30px;
$padding: $line-height;

// RESPONSIVE BREAKPOINTS

$breakpoints: (
    'x-large': (
        min-width: 1200px,
    ),
    'large': (
        min-width: 992px,
    ),
    'medium': (
        min-width: 768px,
    ),
    'small': (
        min-width: 544px,
    ),
    'x-small': (
        max-width: 544px,
    ),
);
